/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* 画面上部のスタイル */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#goal {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

input[type=number] {
  width: 6em;
  padding: 0.5em;
}

#submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #3e8e41;
}

/* 画面中央部のスタイル */
#timer-container {
  text-align: center;
  margin-top: 50px;
}

#timer {
  font-size: 80px;
  font-weight: bold;
  color: #333;
}

#start-timer-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start-timer-button:hover {
  background-color: #3e8e41;
}

/* 画面下部のスタイル */
#points-table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin: 0 auto;
  border-collapse: collapse;
}

#points-table th, #points-table td {
  padding: 10px;
  text-align: center;
}

#points-table p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

#points-table span {
  font-size: 24px;
  font-weight: bold;
}
